input:focus-visible,
textarea:focus-visible {
  @apply outline-sky-700
outline-1;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}
input.ng-touched.ng-invalid.ng-touched,
textarea.ng-touched.ng-invalid.ng-touched {
  outline: solid 1px red;
  background-color: rgb(237, 216, 216);
}
.btn-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
