<div
  class="h-full flex flex-col mt-6 sm:mt-0 sm:justify-center gap-8 lg:gap-12 py-2 px-10 sm:px-28"
>
  <div class="space-y-2">
    <h1
      class="subpage-main-heading inline-block font-medium xl:font-semibold leading-tight tracking-tight border-b-2 border-pink-700"
    >
      Skills
    </h1>
    <p class="subpage-sub-heading font-medium pe-5">
      These are the technologies I've worked with.
    </p>
  </div>

  <ul
    class="w-full place-content-center grid grid-cols-2 sm:grid-cols-3 gap-3 mb-4"
  >
    @for(skill of skills$ | async; track skill.id ){

    <li
      class="skill-container w-full flex flex-col place-items-center group relative before:absolute before:w-full before:h-full before:shadow-md before:shadow-[#040c16] before:hover:scale-105 before:hover:shadow-lg before:hover:shadow-black before:duration-500"
    >
      <img
        [src]="skill.src"
        alt="technology logo"
        class="size-10 sm:size-16 mt-4 opacity-85"
      />
      <p class="skill-title uppercase py-3 font-medium tracking-wide">
        {{ skill.skillName }}
      </p>
    </li>
    }
  </ul>
</div>
