<div class="w-full h-full flex flex-col justify-center md:gap-10 px-10 sm:px-28">
    <div class="space-y-4">
      <h1
        class="subpage-main-heading inline-block font-medium xl:font-semibold leading-tight tracking-tight border-b-4 border-pink-700"
      >
        Contact
      </h1>
      <p class="subpage-sub-heading font-medium pe-5">
        Submit the form below or shoot me an email <span class="italic">marcin.mierzwa81&#64;gmail.com</span>
      </p>
    </div>
    <app-form></app-form>
  </div>
  