<div class="w-full flex justify-between items-center px-8 mb-2">
   <div class="flex items-center justify-around gap-6 xl:gap-10 text-gray-300">

    <i class="fa-solid fa-envelope text-[16px] lg:text-[20px] 2xl:text-[22px] cursor-pointer hover:scale-110 duration-150"
    routerLink="contact"></i>

    <a href="https://github.com/marcinMierzwa" target="_blank">
   
    <i class="fa-brands fa-github text-base lg:text-[20px] 2xl:text-xl cursor-pointer hover:scale-110 duration-150"></i>
   </a>  

   <a href="https://github.com/marcinMierzwa" target="_blank">
      <i class="fa-brands fa-linkedin text-base lg:text-[20px] 2xl:text-xl cursor-pointer hover:scale-110 duration-150"></i> 
   </a>

   </div>
   <div class="flex items-center gap-2">
    <img src="assets/images/logoMobile.png" alt="mini logo" class="h-5 2xl:h-7">
    <p class="text-[11px]  tracking-wider">© Marcin Mierzwa web development</p>
   </div> 
  
</div>
    