<!-- // toaster sent-success //  -->

<div
  [className]="
    isToasterVisible() && isToasterRemove
      ? 'toaster-unvisible'
      : 'toaster-visible'
  "
  (click)="removeToaster()"
>
  <div class="w-full flex items-center justify-end p-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.7"
      stroke="currentColor"
      class="w-6 h-6 me-1 lg:me-6 text-gray-900 cursor-pointer hover:scale-125 duration-200"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </div>

  <div
    class="w-3/4 sm:w-full flex items-center justify-center gap-x-1 md:gap-x-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="#48CA93"
      class="w-10 h-10"
    >
      <path
        fill-rule="evenodd"
        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
        clip-rule="evenodd"
      />
    </svg>

    <h5 class="text-gray-900 text-lg lg:text-xl font-bold">Thank You!</h5>
  </div>

  <p
    class="text-gray-800 mx-auto text-center leading-7text-sm lg:text-base font-bold my-4 px-8 md:px-2"
  >
    Your message has been sent, I'll get back to you to you soon
  </p>
</div>

<!-- // toaster sent-error //  -->

<div
  [className]="
    isToasterError() && isToasterRemoveError
      ? 'toaster-error-unvisible'
      : 'toaster-error-visible'
  "
  (click)="removeToasterError()"
>
  <div class="w-full flex items-center justify-end p-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.7"
      stroke="currentColor"
      class="w-6 h-6 me-1 lg:me-6 text-black cursor-pointer hover:scale-125 duration-200"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </div>

  <div
    class="w-3/4 sm:w-full flex items-center justify-center gap-x-1 md:gap-x-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="rgb(239,68,68)"
      class="w-10 h-10"
    >
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
        clip-rule="evenodd"
      />
    </svg>

    <h5 class="text-gray-900 text-lg lg:text-xl font-bold">
      Oops..! Something Went Wrong
    </h5>
  </div>

  <p
    class="text-gray-800 mx-auto text-center leading-7text-sm lg:text-base font-bold my-4 px-8 md:px-2"
  >
    Please try to contact me later
  </p>
</div>
