<div class="slider flex items-center w-full overflow-hidden relative "
>

  <ul
    class="slider-inner-slider list-none flex items-center flex-shrink-0 opacity-75"
  >
    @for (project of work$ | async ; track project.id ) {
    <li
      class="slider-inner-slider-container-image flex items-center justify-center m-0 cursor-auto w-[200px] sm:w-[240px] xl:w-[270px] me-4"
    >
      <img
        class="rounded-lg grayscale-[0.6] hover:grayscale-0 duration-1000"
        [src]="project.src"
        alt="project image"
      />
    </li>
    }
  </ul>

  <ul
    class="slider-inner-slider list-none flex items-center flex-shrink-0 opacity-75"
  >
    @for (project of work$ | async ; track project.id ) {
    <li
      class="slider-inner-slider-container-image flex items-center justify-center m-0 cursor-auto w-[200px] sm:w-[240px] xl:w-[270px] me-4"
    >
      <img
        class="rounded-lg grayscale-[0.6] hover:grayscale-0 duration-1000"
        [src]="project.src"
        alt="project image"
      />
    </li>
    }
  </ul>
</div>
